{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class=""
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">FAQs</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10"><hr></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-md-3 problem">
            <h3>What can I ship?</h3>
          </div>
          <div class="col-md-6">
            <p class="text-left solution">In general, if it doesn't pose a risk to the driver, need an MSDS, isn't an illicit substance, and isn't worth a lot.
              This is just a bulletin board, and we don't take responsibility for what you decide to ship, but the law might. Don't be stupid.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-md-3 problem">
            <h3>How does payment work?</h3>
          </div>
          <div class="col-md-6">
            <p class="text-left solution">For now, payment is handled by users. We don't exchange money.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-md-3 problem">
            <h3>What shouldn't I ship?</h3>
          </div>
          <div class="col-md-6">
            <p class="text-left solution">In general, shipping high-value items is discouraged. You should let a professional service ship those.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}